body {
    margin: 0;
    height: 100vh;
    background-color: rgb(138, 199, 204);
}

.list_navbar {
    display: flex;
    align-items: center;
}

.column {
    min-height: 600px;
    background-color: antiquewhite;
    border-radius: 4px;
    margin-top: 10px;
    flex-grow: 1;
}

.white {
    background-color: inherit;
}

.red {
    border: 2px solid brown;
}

.card-header {
    height: 35px;
}

.column_tile {
    font-size: 18px;
}