body {
    margin: 0;
    height: 100vh;
    background-color: rgb(138, 199, 204);
}

/* .section-main {
    display: flex;
}

.header {
    display: flex;
    padding-left: 15px;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: rgb(204, 138, 175);
    box-shadow: 0px 4px 4px rgba(12, 3, 3, 0.5);
} */


/* .toDo {
    width: 200px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 15px;
} */