body {
    margin: 0;
    height: 100vh;
}

.list_navbar {
    display: flex;
    align-items: center;
}

.column {
    min-height: 600px;
    min-width: 350px;
    border-radius: 4px;
    margin-top: 10px;
    flex-grow: 1;
}

.white {
    background-color: inherit;
}

.red {
    border: 2px solid brown;
}

.card-header {
    height: 35px;
}

.column_tile {
    font-size: 18px;
}

.task_description_modal {
    overflow-wrap: break-word;
}

.textaria_task {
    width: 100%;
    height: 400px;
}

.kb_row_container {
    overflow-x: auto;
    flex-wrap: nowrap;
}